<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="vraptorBuilder"
         name="VRaptor Jsp Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="main.java.org.abner.vraptor.builder.VRaptorBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="vraptor"
         name="VRaptor Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="main.java.org.abner.vraptor.builder.VRaptor">
         </run>
      </runtime>
      <builder
            id="VRaptorEclipsePlugin.vraptorBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="VRaptor Project Nature commands"
            id="VRaptorEclipsePlugin.vraptor.category">
      </category>
      <command
            name="Add/RemoveVRaptor Project Nature"
            defaultHandler="main.java.org.abner.vraptor.builder.AddRemoveVRaptorHandler"
            categoryId="VRaptorEclipsePlugin.vraptor.category"
            id="VRaptorEclipsePlugin.addRemoveVRaptor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="VRaptorEclipsePlugin.addRemoveVRaptor"
               label="Disable VRaptor Validation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="VRaptorEclipsePlugin.vraptor"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="VRaptorEclipsePlugin.addRemoveVRaptor"
               label="Enable VRaptor Validation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="VRaptorEclipsePlugin.vraptor"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="jspProblem"
         name="JSP Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
